.landing-img-1{
    background-image: url(/OneDrive/Desktop/nutri2222/nutri-master/src/img/landing1.svg);
    width: 500px;
    height: 482px;
    background-size: contain;
    background-repeat: no-repeat;
}

.landing-img-2{
    background-image: url(/OneDrive/Desktop/nutri2222/nutri-master/src/img/Diagrama.svg);
    width: 1200px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Alterações nas classes Bootstrap */

.btn-dark {
    background-color: black !important
}

.btn-dark:hover {
    background-color: white !important;
    color: black;
    border: white 1px solid;
}

.btn-primary {
    color: #000000 !important;
    background-color: #FFD600;
    border: #FFD600 1px solid;
}

.btn-primary:hover {
    color: #000000 !important;
    background-color: #FFDC26;
    border: #FFDC26 1px solid;
}

.nav-link {
    color: #575757 !important;
}

.nav-link:hover {
    color: #323232 !important;
}
