

* {
    font-family: "Inter", sans-serif;
}

/* Topo */


.background {
    background-image: url(../img/bg-floresta.svg);
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.white-card h2 {
    font-size: 40px;
}

.white-card p {
    font-size: 24px;
}

/* Meio */

.section-middle {
    background-color: #FFD600;
    height: 40vh;
    align-content: center;
}

.step-card {
    background-color: #E4E6EA;
    border-radius: 5px;
    height: 50vh;
}

/* Fim */

.section-bottom {
    overflow: hidden;
}

.section-bottom a{
    text-decoration: none;
}
.section-bottom a:hover{
    text-decoration: underline;
}

/* Alterações nas classes Bootstrap */

.btn-dark {
    background-color: black !important
}

.btn-dark:hover {
    background-color: white !important;
    color: black;
    border: white 1px solid;
}

.btn-primary {
    color: #000000 !important;
    background-color: #FFD600;
    border: #FFD600 1px solid;
}

.btn-primary:hover {
    color: #000000 !important;
    background-color: #FFDC26;
    border: #FFDC26 1px solid;
}

.nav-link {
    color: #575757 !important;
}

.nav-link:hover {
    color: #323232 !important;
}

